.container {
  padding: 24px;
  background: deepskyblue;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.count {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.button {
  width: 40px;
  height: 40px;
  margin-top: 12px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  font-size: 32px;
  background: transparent;
  cursor: pointer;
}

.button + .button {
  margin-left: 8px;
}
